# Ignore build artifacts in code/server
code/server/server
code/server/lib/*.so

# Ignore build artifacts in root
server
client
lib/*.so

# Ignore runtime log
running.txt

# Ignore temporary Vim swap files
*~
*.swp
